<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubEmailServlet</servlet-name>
        <servlet-class>com.controller.SubEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpamEmailServlet</servlet-name>
        <servlet-class>com.controller.SpamEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnsubEmailServlet</servlet-name>
        <servlet-class>com.controller.UnsubEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubEmailServlet</servlet-name>
        <url-pattern>/SubEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpamEmailServlet</servlet-name>
        <url-pattern>/SpamEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnsubEmailServlet</servlet-name>
        <url-pattern>/UnsubEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadProduct</servlet-name>
        <servlet-class>com.controller.UploadProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadProduct</servlet-name>
        <url-pattern>/UploadProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Home.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
