.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;  
}
.background4 {
    background-color:#ECECEA;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.imageChooser{
     width:304; 
     height:236;
     margin: 10px;
     
}



